.mother-types-weakness{
  display: flex;
  flex-direction: column;
}
.types-weakness{
  max-width: 480px;
  margin: 0 5%;
}
.btn-types{
  border: none;
  border-radius: 50%;
  width: 40px;
  padding: 8px 0px 8px 0px;
  font-size: 18px;
  margin: 0.5%;
  
}
.btn-weaks{
  border: none;
  border-radius: 50%;
  width: 40px;
  padding: 8px 0px 8px 0px;
  font-size: 18px;
  margin: 0.5%;
}

.btn-types:hover {
  background-color: white;
}
button[data-btn="Normal"]{
  background-color: #A4ACAF;
}
button[data-btn="Fire"]{
  background-color: #FB7D33;
}
button[data-btn="Water"]{
  background-color: #19A6F4;
}
button[data-btn="Electric"]{
  background-color: #EDD346;
}
button[data-btn="Grass"]{
  background-color: #9CCA58;
}
button[data-btn="Ice"]{
  background-color: #57C4E5;
}
button[data-btn="Poison"]{
  background-color: #B881C7;
}
button[data-btn="Ground"]{
  background-color: #63491A;
}
button[data-btn="Fighting"]{
  background-color:#CE5824;
}
button[data-btn="Flying"]{
  background-color: #AEEDFC;
}
button[data-btn="Psychic"]{
  background-color: #F169B8;
}
button[data-btn="Bug"]{
  background-color: #739E45;
}
button[data-btn="Rock"]{
  background-color: #5B563F;
}
button[data-btn="Ghost"]{
  background-color: #674A9E;
}
button[data-btn="Dragon"]{
  background-color: #EF6F5C;
}
button[data-btn="Dark"]{
  background-color: #484849;
}
button[data-btn="Steel"]{
  background-color: #90AFAF;
}
button[data-btn="Fairy"]{
  background-color: #FCBAE8;
}
.height-weigth{
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}
.icons-h-w{
  display: flex;
  align-items: center;
  height: 60px;
}
.icon-h-w{
  border: none;
  border-radius: 30%;
  width: 60px;
  height: 60px;
  padding: 15px;
  font-size: 15px;
  background-color: #ede971;
  margin: 1%;
}

.mother-types-weakness button {
  position: relative;
  display: inline-block;
  }

.mother-types-weakness button .btn-hover{
  visibility: hidden;
  width: 80px;
  background-color: lightgrey;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
}

.mother-types-weakness button .btn-hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: lightgrey transparent transparent transparent;
}

.mother-types-weakness button:hover .btn-hover {
  visibility: visible;
}