.stats-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 200px;
  }
.stats-menu{
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 20%;
  height: 200px;
  background-color: rgb(255, 255, 255, 0.7);
  }
.stats-btn2{
  width: 50%;  
 }
.stats-btn2 button{
   background-color: #ed1c24;
   border-radius:  13px;
   border: 2px solid transparent;
   font-family: 'Signika', sans-serif;
   font-size: 15px;
   color: white;
   margin: 2px;
   width: 80px;
   padding: 5px;
}
.pika-img{
  padding: 20px;
  width: 50%;
  height: 60%;
  border-radius: 100%;
}
.stats-show{
  background-color: transparent;
  width: 60%;
}
.chart-types{
  font-family: 'Signika', sans-serif;
  z-index: 0;
}
.hwc-stats{
  border: 1px solid lightgray;
  font-family: 'Signika', sans-serif;
  width: 30%;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.7);
}

