
body{
  margin: 0;
  padding: 0;
  background: url(../assets/images/whiteandgrey.png);
}
ul{
  list-style: none;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
}
.black-bar{
  background-color: #08224E;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding: 1% 0;
  z-index: 1;
 }
 .home-btn{
   background-color: #08224E;
   border-radius: 15px;
   border: 2px solid yellow;
   font-family: 'Signika', sans-serif;
   font-size: 20px;
   padding: 10px 0;
   width: 150px;
   color: white;
 }
.stats-btn{
   background-color: #08224E;
   border-radius:  15px;
   border: 2px solid yellow;
   font-family: 'Signika', sans-serif;
   font-size: 20px;
   color: white;
   padding: 10px 0;
   width: 150px;
}
.logo-image{
  height:inherit;
  width: auto;
}

.filter-buttons{
  display: flex; 
  padding: 130px 0 50px 0;
  background-color:#e8effc;
  justify-content: flex-end;
  }

 .types-weakness{
  width: 70%; 
}

.height-weigth{
   width: 30%;
}

.show-menubar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 140px 50px 0 50px;
  
}

.search-poke{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.go-btn{
  border: 1px solid yellow;
  background-color: yellow;
  padding: 10px;
  border-radius: 100%;
}

.search-btn{
  border: 1px solid black;
  background-color: white;
  font-family: 'Signika', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

.search-btn i{
  padding-left: 10px;
}

.menu-select{
  font-family: 'Signika', sans-serif;
  font-size: 15px;
  border: 1px solid;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../assets/images/arrowdown.png.png) no-repeat 96% 0;
  overflow: hidden;
  background-color: white;
  width: 200px;
  height: 30px;
}

.list-poke{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pokemon-unit{
  border: 1px solid transparent;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242, 0.6);
  border-radius: 5%; 
  padding: 40px 30px;;
  margin: 30px;
 }
.poke-name{
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  color:#333333;
  margin: 0;
}
.poke-img {
  width: 100%;
  height: auto;
}
.poke-shadow{
  background-color: lightgray;
  height: 18%; 
  width: 60%;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 20px; 
 }

.sec-modal{
  display: none;
}
.div-modal{
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vw;
  width: 100vw;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.poke-num{
  font-family: 'Signika', sans-serif;
  font-size: 13px;
  margin: 0;
  color: #333333;
}

.text-style{
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  color: #333333;
}

