body{
  margin: 0;
  padding: 0;
}

.black-bar{
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
 }

.logo-image{
  height: 80%;
}

.filter-buttons{
  display: flex; 
  background-color: lightblue;
  padding: 120px 35px 45px 35px;
  }

 .types-weakness{
  width: 70%;   
}

.height-weigth{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 30%;
}

.list-poke{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e5e4d0;
}
.pokemon-unit{
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5%; 
  padding: 20px 50px;;
  margin: 30px;
}

.poke-num{
  font-family: 'Signika';
  font-size: 13px;
  
}
.poke-name{
  font-family: 'Signika';
   
}
.order-menu{
  display: flex;
  justify-content: flex-end;
  padding: 30px 80px 0 0;
  background-color: #e5e4d0;
}
.menu-select{
  font-family: 'Signika';
  font-size: 15px;
  border: 1px solid;
  height: 40px;
  border-radius: 5%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../assets/images/arrowdown.png.png) no-repeat 96% 0;
  overflow: hidden;
  width: 200px;
  height: 30px;
}
.text-style{
  font-family: 'Signika';
  font-size: 20px;
}
.show-poke{
  background-color: #e5e4d0;
}
.sec-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vw;
  width: 100vw;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.modal-content{
  background-color: white;
  margin: 30% auto;
  padding: 10%;
  width: 80%;
}
.title-name{
  font-family: 'Signika', sans-serif;
  font-size: 40px;
}
.subtitles{
  font-family: 'Signika', sans-serif;
  font-size: 20px;
}
