body{
  margin: 0;
  padding: 0;
}

.black-bar{
  background-color: black;
  height: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image{
  height: 80%;
}

.filter-buttons{
  display: flex; 
  background-color: lightblue;
  padding: 25px;
  }

 .types-weakness{
  width: 70%;
   
}

i{
  padding: 8px 0px 8px 0px;
  font-size: 18px;
}

.height-weigth{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 30%;
}
.poke-shadow{
  background-color: grey;
  width: 50px;
  height: 10px;
  border-radius: 50px;
  
}

.list-poke{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 80px;
}
.pokemon-unit{
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5%; 
  padding: 20px 50px;;
  margin: 30px;
}

.poke-num{
  font-family: 'Signika';
  font-size: 13px;
  
}
.poke-name{
  font-family: 'Signika';
   
}
.order-menu{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-family: 'Signika';
}
.select-menu{
  font-family: 'Signika';
  font-size: 30px;
}
.text-style{
  font-family: 'Signika';
  font-size: 25px;
}
